aiogram
aiohttp
aiosignal
alembic
altair
asgiref
async-timeout
attrs
Babel
backports.zoneinfo
beautifulsoup4
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
countryinfo
cryptography
defusedxml
Django
django-cors-headers
django-jazzmin
django-tastypie
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
exceptiongroup
frozenlist
gitdb
GitPython
greenlet
idna
importlib_metadata
importlib_resources
iniconfig
Jinja2
jsonschema
jsonschema-specifications
lxml
magic-filter
Mako
markdown-it-py
MarkupSafe
mdurl
model-bakery
multidict
narwhals
numpy
oauthlib
packaging
pandas
Pillow
pkgutil_resolve_name
pluggy
protobuf
psycopg2
pyarrow
pycparser
pydeck
Pygments
PyJWT
pytest
pytest-django
python-dateutil
python-mimeparse
python3-openid
pytz
referencing
requests
requests-oauthlib
rich
rpds-py
six
smmap
social-auth-app-django
social-auth-core
soupsieve
SQLAlchemy
sqlparse
streamlit
tenacity
toml
tomli
tornado
typing_extensions
tzdata
urllib3
watchdog
whitenoise
yarl
zipp
